.comment{ :class => !comment.is_a?(Email) ? 'email' : nil  }
  - if comment.is_a?(Email)
    .user
      = mail_to comment.from, nil, :bcc => current_user.dropbox_email
      %span.icon= raw t('icons.email')
      %strong
        == raw #{t('subject')}:
        = raw comment.subject
      %small.acted= raw t('email_sent_ago', :time => l(comment.created_at, :format => :short))
    .quote= raw t('icons.comment')
    .message
      = raw comment.text.gsub(/\n/, '<br />')
      .attachments
        - comment.attachments.each do |attachment|
          = link_to attachment.attachment_filename, attachment
  - else
    .user
      = link_to comment.user.email, comment.user
      %small.acted= raw t('wrote_ago', :time => l(comment.created_at, :format => :short))
    .quote= raw t('icons.comment')
    .message
      = raw comment.text
      .attachments
        - comment.attachments.each do |attachment|
          = link_to attachment.attachment_filename, attachment
