.item{ :class => activity.action.downcase }
  %span.icon= activity_icon(activity.action.downcase)
  = raw "#{link_to activity.user.username.present? ? activity.user.username : activity.user.email, activity.user} #{activity.action.downcase} #{activity.subject_type.downcase}"
  %strong
    - if activity.subject.deleted_at || activity.subject.is_a?(Task)
      = activity.subject.name
    - elsif activity.subject.is_a?(Comment)
      - if activity.subject.commentable.permitted_for?(current_user)
        = link_to activity.subject.name, activity.subject.commentable
      - else
        = activity.subject.name
    - elsif activity.subject.is_a?(Task)
      - if activity.subject.asset.permitted_for?(current_user)
        = link_to activity.subject.name, activity.subject.asset
      - else
        = activity.subject.name
    - else
      - if activity.subject.permitted_for?(current_user)
        = link_to activity.subject.name, activity.subject
      - else
        = activity.subject.name
  %small.timestamp= raw t('done_ago', :time => l(activity.updated_at, :format => :short))
