%h2.title
  = t(:choose_fields)
= form_tag leads_path(@filters.merge(:format => 'csv')), :method => :get do
  - @filters.each do |key, value|
    - if value.is_a?(Array)
      - value.each do |v|
        = hidden_field_tag "#{key}[]", v
    - else
      = hidden_field_tag key, value
  .10.a
    %label{ :for => 'deliminator' }= t(:deliminator)
    = text_field_tag :deliminator, params[:delimitator] || '|'
  .clear
  %h3= t(:fields)
  - Lead.exportable_fields.each do |field|
    .boolean
      = check_box_tag 'fields[]', field, false, :id => field
      %label{ :for => field }= field.humanize
    .clear
  = submit_tag t(:export)
  = t(:or)
  = link_to t(:cancel), :back
