%dl.item.contact
  %dt{ :class => contact.source.present? ? contact.source.downcase : "no-source"}
    = contact.source.present? ? contact.source : t('no_source')
  %dd
    %strong
      - if contact.permitted_for?(current_user)
        = link_to contact.listing_name, contact, :id => contact.full_name.to_dom_id
      - else
        = contact.listing_name

    %small
      = raw "via #{contact.lead.full_name}#{" @ #{contact.lead.company}" if contact.lead.company.present?} | " if !contact.lead.nil?
      - contact_info = []
      = " @ #{contact.account.name}" if contact.account
      = raw " | Email: #{mail_to(contact.email, nil, :bcc => current_user.dropbox_email)}" if contact.email.present?
      = raw " | Phone: <b>#{contact.phone}</b>" if contact.phone.present?
      = raw " | Mobile: <b>#{contact.mobile}</b>" if contact.mobile.present?
      %br/
      - contact_time = raw l(contact.created_at, :format => :short)
      %em.timestamp
        - if contact.assignee_id.present?
          = raw t('assigned_ago_by', :time => contact_time, :by => contact.user.username, :for => User.find(contact.assignee_id).full_name)
        - else
          = raw t('added_ago_by', :time => contact_time, :by => contact.user.username)
    - if contact.permitted_for?(current_user)
      %span.actions
        = link_to t('edit'), [:edit, contact], :id => "edit_#{dom_id(contact)}"
