.title
  %h2= @account.name
  %ul.actions
    %li= link_to t(:add_contact), new_contact_path(:return_to => request.fullpath, :account_id => @account.id), :id => 'add_contact'
    %li= link_to t(:edit_account), [:edit, @account], :id => "edit_#{dom_id(@account)}"
    %li= link_to t(:add_sub_account), new_account_path(:account_id => @account.id), :id => 'add_sub_account'
    %li
      = simple_form_for @account do |form|
        = hidden_field_tag :return_to, request.fullpath
        - if @account.tracked_by?(current_user)
          = hidden_field_tag 'account[remove_tracker_ids][]', current_user.id
          = form.button :submit, t('stop_updating_me'), :id => 'stop_updating_me'
        - else
          = hidden_field_tag 'account[tracker_ids][]', current_user.id
          = form.button :submit, t('keep_me_updated'), :id => 'keep_me_updated'
  %br/
  %small
    = raw t('added_ago_by', :time => l(@account.created_at, :format => :short), :by => @account.user.username)
.clear
%h3= t('contacts')
.contacts
  - @account.contacts.each do |contact|
    = render :partial => 'contacts/contact_with_assets', :locals => {:contact => contact }
.clear
= render :partial => 'tasks/add_task', :locals => { :object => @account }
= render :partial => 'comments/comments', :locals => {:object => @account }

- content_for :sidebar do
  .box.gold
    %h3= t('contact_info_for', :name => @account.name)
    %dl.info
      = show_attribute(@account, 'identifier')
      = show_attribute(@account, 'email', mail_to(@account.email, nil, :bcc => current_user.dropbox_email))
      = show_attribute(@account, 'phone')
      = show_attribute(@account, 'fax')
      = show_attribute(@account, 'billing_address')
      = show_attribute(@account, 'shipping_address')
      = show_attribute(@account, 'website', link_to(t(:visit_website), @account.website)) if @account.website

  #recent_activity.box.ice
    %h3= t('recent_activity_for', :name => @account.full_name )
    = render :partial => 'shared/activity_for', :collection => @account.related_activities.limit(6), :as => :activity

  .box.gold
    %h3= t(:contacts)
    - if @account.contacts.any?
      %dl
        - @account.contacts.each do |contact|
          %li= link_to contact.full_name, contact

  - if @account.children.any?
    .box.gold
      %h2= t(:sub_accounts)
      %ul
        - @account.children.each do |child|
          %li= link_to child.name, child
